@import '../../node_modules/sass-mq/_mq.scss';

@import './gentelella/vendors/bootstrap/dist/css/bootstrap.min.css';
@import './gentelella/vendors/font-awesome/css/font-awesome.min.css';
@import './gentelella/vendors/nprogress/nprogress.css';
@import './gentelella/vendors/iCheck/skins/flat/green.css';
@import './gentelella/vendors/google-code-prettify/bin/prettify.min.css';
@import './gentelella/vendors/select2/dist/css/select2.min.css';
@import './gentelella/vendors/switchery/dist/switchery.min.css';
@import './gentelella/vendors/starrr/dist/starrr.css';
@import './gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css';
@import './gentelella/src/scss/custom.scss';
@import './custom/attach-photo.css';

@import 'components/app.scss';
